In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv(r"C:\Users\Lenovo\Downloads\Iris.csv")

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
iris['is_train'] = np.random.uniform(0, 1, len(iris)) <= .75

In [9]:
iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,is_train
0,1,5.1,3.5,1.4,0.2,Iris-setosa,True
1,2,4.9,3.0,1.4,0.2,Iris-setosa,True
2,3,4.7,3.2,1.3,0.2,Iris-setosa,False
3,4,4.6,3.1,1.5,0.2,Iris-setosa,False
4,5,5.0,3.6,1.4,0.2,Iris-setosa,True

In [10]:
# create a dataframe with test rows and training rows
train, test = iris[iris['is_train']==True], iris[iris['is_train']==False]
# show the number of observation for the test and training data frame
print('Number of observaton in the training data:', len(train))
print('Number of observation in the test data:', len(test))

Number of observaton in the training data: 114
Number of observation in the test data: 36

In [15]:
import math
def enclideanDistance(instance1, instance2, length):
    distance = 0
    for x in range(length):
        distance += pow((instance1[x] - instance2[x]), 2)
    return math.sqrt(distance)

In [16]:
data1 = [2,2,2,'a']
data2 = [4,4,4,'b']
distance = enclideanDistance(data1, data2, 3)
print ('Distance: ' + repr(distance))

Distance: 3.4641016151377544

In [31]:
import operator
def getNeighbors(trainingSet, testInstance, k):
    distance = []
    length = len(testInstance)-1
    for x in range(len(trainingSet)):
        dist = enclideanDistance(testInstance, trainingSet[x],length)
        distance.append((trainingSet[x], dist))
    distance.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distance[x][0])
    return neighbors

In [32]:
trainSet = ([[2,2,2,'a'], [4,4,4,'b']])
testInstance  = [5,5,5]
k = 1
neighbors = getNeighbors(trainSet, testInstance, 1)
print(neighbors)

[[4, 4, 4, 'b']]

In [35]:
import operator
def getResponse(neighbors):
    classVotes = {}
    for x in range(len(neighbors)):
        response = neighbors[x][-1]
        if response in classVotes: 
            classVotes[response] += 1
        else:
            classVotes[response] = 1
        sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse = True)
        return sortedVotes[0][0]

In [36]:
neighbors = [[1,1,1,'a'],[2,2,2,'a'],[3,3,3,'b']]
response = getResponse(neighbors)
print(response)

a

In [41]:
def getAccuracy(testSet, predictions):
    correct = 0
    for x in range(len(testSet)):
        if testSet[x][-1] is predictions[x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0

In [43]:
testSet = [[1,1,1,'a'],[2,2,2,'a'],[3,3,3,'b']]
predictions = ['a','a','a']
accuracy = getAccuracy(testSet, predictions)
print(accuracy)

66.66666666666666

In [ ]:
def getAccuracy(testSet, predictions):
    correct = 0
    for x in range(len(testSet)):
        if testSet[x][-1] is predictions[x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0

def main():